:root {
    --primary-color: #448a48;
    --accent-color: #3b613d;
    --text-color: #333;
    --background-color: #f7f7f7;
    --link-color: #007bff;
    --success-color: #3b613d;
    --error-color: #dc3545;
}

.navbar {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 20px 0px 20px;
    position: sticky;
    z-index: 100;
    top: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.navbar-block {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.navbar-item a, .navbar-item div {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

h1 a {
    text-decoration: none;
    color: white;
}

.container, form, .control {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

form {
    width: 600px;
    padding: 20px;
    border: 1px solid var(--background-color);
    border-radius: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.scholar-profile {
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 25px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.scholar-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.err {
    padding: 20px;
    border: 1px solid var(--error-color);
    background-color: rgba(255, 128, 128, 0.5);
    border-radius: 8px;
}

.title {
    display: flex;
    justify-content: left;
    gap: 45px;
    align-items: center;
    margin: 15px 30px;
}

.interests {
    margin: 10px 0px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.profile-lblform {
    border: none;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.section-header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: white;
}

.section-title {
    background-color: var(--primary-color);
    padding: 15px;
    width: 100%;
}

.section-row {
    padding: 20px;
    border-bottom: 1px solid gray;
}

.active {
    border-radius: 50%;
    background-color: var(--text-color);
}

.navbar-item:hover {
    background-color: var(--accent-color);
    border-radius: 5px;
}

.page-controller {
    background-color: var(--accent-color);
    padding: 10px 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.page-controller span {
    width: 30px;
    height: 30px;
    text-align: center;
}

.scholar-dept {
    color: gray;
    margin-bottom: 10px;
}

.content {width: 100%;}
.title img {border-radius: 50%;}
.err-msg {color: var(--error-color);}
.btn-success:hover {background-color: var(--success-color);}
.btn-success {background-color: var(--primary-color);}
.btn-view {background-color: var(--primary-color);}
.btn-view:hover {background-color: var(--accent-color);}
.navbar-item {padding: 10px;}
.container {margin: 20px 120px;}
.input-err {border: 1px solid var(--error-color);}
.navbar-item div:hover {cursor: pointer;}
.profile-action {display: flex;}
.input-success {border: 1px solid var(--success-color);}
.success-msg {color: var(--success-color);}
.page-controller span:hover {cursor: pointer;}